body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.regular {
  background-color: aquamarine;
}

div.special {
  background-color: lightcoral;
}
